@{
    ViewBag.Title = "About Us";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

@*<div>
        <h3>
            Our passion is owning, restoring, and sharing our 50+ years of experience in Classic Jaguar automobiles - we are here to help you!
        </h3>
    </div>*@
<div>
    <h3>Based in the San Francisco Bay Area, we offer the following services worldwide:</h3>
</div>
<div>
    <ul>
        <li>Locating Classic Jags to purchase</li>
        <li>Helping you sell your Classic Jag</li>
        <li>Restoration Services</li>
        <li>Troubleshooting and advice</li>
        <li>Locating hard to find parts</li>
        <li>And much, much, more...</li>
    </ul>
</div>
<hr />
<div>
    Reach us via email: classicjagpros@gmail.com
</div>